html {
  height: 100%;
}

body {
  height: 100%;
}

.messy-button {
  margin-right: 5px;
}

.messy-box {
  height: 100%;
}

.messy-grid {
  margin-top: 15px;
  align-items: flex-start;
}

.messy-menu {
  height: 100%;
  padding-right: 10px;
  margin-right: 10px;
}
